/* for heading bold poppins, navigation, button text  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Vinyl&display=swap');
/* for body text and subheadings */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Vinyl&display=swap');
/* for body text  secondary*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&display=swap');
/* nepali font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+Devanagari:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Vinyl&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
@import "tailwindcss";

/* A very basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
  scroll-behavior: smooth;
}
body, html{
  /* set min property instead of height for the main html and body */
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fffffc;
}

::-webkit-scrollbar{
  display: none;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* img, video, svg {
  display: block; 
  max-width: 100%;
  height: auto; 
} */

input,
button,
textarea,
select {
  font: inherit; /* Inherit font from body */
  border: none; /* Remove default borders */
  cursor: pointer;
  outline: none; /* Remove default outline on focus (often replaced with a custom one) */
}

/* Optional: Opinionated default for form elements to match box-sizing */
/* This is often not included in a generic reset but is good practice */
input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
  -webkit-appearance: none; /* For consistent styling across browsers */
  -moz-appearance: none;
  appearance: none;
  border-radius: 0; /* Remove default rounded corners */
}

/* custom styling with theme directives  */
@theme {
  --color-primary: #e7e6e6;
  --color-secondary:#9b9a9a;
  --color-button:blue;
  --color-achievement:#e6f0fa;

  /* --- Font Families --- */
  --font-heading: "Poppins", sans-serif; /* For all headings */
  --font-body: "Inter", sans-serif; /* For general body text */
  --font-nav:"Poppins", sans-serif;

  /* typography  */
  --font-size-h1: clamp(2.5rem, 1.5rem + 3vw, 4.2rem); /* 40px to 64px */
  --font-size-h2: clamp(1.2rem, 0.5rem + 1.5vw, 1.8rem); /* 32px to 48px */
  --font-size-h3: clamp(1rem, 0.3rem + 0.8vw, 1.4rem); /* 28px to 40px */
  --font-size-h4: clamp(0.9rem, 0.2rem + 0.9vw, 1.2rem); /* 24px to 32px */
  --font-size-h5: clamp(1.25rem, 1rem + 1vw, 1.75rem); /* 20px to 28px */

  --text-nav:16px;
  --text-nav-large:24px;
  --text-body:clamp(1.25rem, 1rem + 1vw, 1.75rem);
  --text-date:30px;

  /* padding  x axis*/
  --padding-x-large:50px;
  --padding-x-medium:30px;
  --padding-x-small:20px;

  /* padding y-axis */
  --padding-y-large:110px;
  --padding-y-medim:45px;

  /* Line heights */
  --line-height-base: 1.7;
  --line-height-heading: 1.2;

  /* custom breakpoint */
  --breakpoint-custommd:800px;
  --breakpoint-customlg:1100px;
}

/* global styling for repetitiv elements  */
@layer base {
  h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-heading);
  }

  h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-heading);
  }

  h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-heading);
  }

  h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-heading);
  }

  h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-heading);
  }

  h6 {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-heading);
  }
}

/* component directive  is for defining reusable component-level styles. */
@layer components{
    .nav-link:hover{
        @apply text-[#afafaf]
    }
}

  @utility flex-center{
    @apply flex justify-center items-center;
  }
  @utility header-content-clip-path{
    clip-path: polygon(0 0, 100% 29%, 100% 100%, 0% 100%);
  }
  @utility image-card{
    @apply h-fit shadow-md px-3 py-5 rounded-md flex flex-col  gap-[14px] w-full  cursor-pointer transition-all duration-300 ease-in-out hover:scale-105;
  }


  /* custom css only styles  */
  /* .scrolled-to-top #logo-img{
    transform: scale(.6);
    margin-top: 0;
  }
  .scrolled-to-top{
    backdrop-filter: blur(60%);
    background-color: rgb(0, 0, 0, .6);
  }
  .scrolled{
   transform: translateY(-100%);
   opacity: 0;
  } */
 
  .custom-nav-links:hover > .custom-dropdown{
    display: block;
}
 
/* @keyframes marquee {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 10s linear infinite;
} */
.active-date{
  color: black;
}

/* //shots in nepal and historical timeline animation  */
.scroller_inner{
  animation: scroll 50s var(--direction, forwards) linear infinite;
  animation-play-state: running;
  transition:all .3s linear;
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}
.scroller[data-direction='left']{
  --direction:reverse;
}

.scroller_inner:hover{
  animation-play-state: paused;
}
.scroll-item img{
  transition:.25s linear;
  border-radius: 20px;
  object-position: top center;
  filter:grayscale(20%);
}
.scroll-item:hover img{
  transform: scale(1.1);
  filter: grayscale(0%);
  cursor: pointer;
}


.tab-item.tab-active{
  @apply bg-gray-200;
}

.news-item{
  @apply flex gap-4 cursor-pointer hover:text-red-600 transition-all duration-150 ease-in shadow-sm border-[.5px] border-gray-400/10 rounded-lg;
}

